@charset "UTF-8";
/* line 3, c:/users/следователь/desktop/блокнотик/web/static/scss/user/register.scss */
body {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0; }

/* line 13, c:/users/следователь/desktop/блокнотик/web/static/scss/user/register.scss */
.main {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* Circle animation */ }
  /* line 28, c:/users/следователь/desktop/блокнотик/web/static/scss/user/register.scss */
  .main .registration-form {
    position: relative;
    width: 300px;
    height: 600px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(209, 213, 219, 0.3);
    backdrop-filter: blur(7px) saturate(180%);
    -webkit-backdrop-filter: blur(7px) saturate(180%);
    z-index: 5; }
    /* line 45, c:/users/следователь/desktop/блокнотик/web/static/scss/user/register.scss */
    .main .registration-form .brand {
      position: relative;
      top: 20px;
      left: 100px;
      width: 100px;
      height: 100px;
      border-radius: 99px;
      box-shadow: 5px 5px 10px #d9d9d9, -5px -5px 10px #ffffff; }
    /* line 62, c:/users/следователь/desktop/блокнотик/web/static/scss/user/register.scss */
    .main .registration-form .fields {
      position: relative;
      top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      /* line 72, c:/users/следователь/desktop/блокнотик/web/static/scss/user/register.scss */
      .main .registration-form .fields .field {
        position: relative; }
        /* line 76, c:/users/следователь/desktop/блокнотик/web/static/scss/user/register.scss */
        .main .registration-form .fields .field .field-input {
          height: 50px;
          width: 260px;
          background: #000; }
  /* line 92, c:/users/следователь/desktop/блокнотик/web/static/scss/user/register.scss */
  .main .circle {
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 999px;
    background: #000;
    filter: blur(150px);
    animation: colorChange 10s infinite;
    z-index: 5; }

@keyframes colorChange {
  0% {
    background: yellow; }
  33% {
    background: #BF0060; }
  66% {
    background: #DC582A; }
  100% {
    background: yellow; } }
